{% extends 'general/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="col-12">
    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    {{ title }}
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button type="submit" class="btn btn-success">Отправить новый пароль</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
