{% extends 'general/base.html' %}

{% block content %}
<div class="row">
    {% for object in object_list %}
    <div class="col-md-4">
        <div class="card mb-4 box-shadow">
            <div class="card-body">
                <p class="card-text"><strong>Тема письма:</strong> {{ object.subject }}</p>
                <p class="card-text"><strong>Тело письма:</strong> {{ object.body }}</p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <a href="{% url 'message:message_detail' object.pk %}" class="btn btn-sm btn-outline-secondary">Подробнее</a>
                        <a href="{% url 'message:message_update' object.pk %}" class="btn btn-sm btn-outline-warning">Изменить</a>
                        <a href="{% url 'message:message_delete' object.pk %}" class="btn btn-sm btn-outline-danger">Удалить</a>
                    </div>
                    <small class="text-muted">?</small>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}

</div>
{% endblock %}
