{% extends 'general/base.html' %}

{% block content %}
<div class="col-12">
    <div class="row">
        <div class="col-6">
            <div class="card">
                <div class="card-body">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <p>Хотите удалить сообщение <strong>{{ object.subject }}</strong> ?</p>
                        <button type="submit" class="btn btn-danger">Да</button>
                        <a href="{% url 'message:message_list' %}" class="btn btn-warning">Нет</a>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
